# **Python Assignment 2 - Data Structure**
1. What are data structures, and why are they important?
  - Data structures are techniques for organizing and storing data in computers. They are important because they:
  Make data access faster
  Improve memory usage
  Help solve complex problems easily
  Examples: List, Tuple, Set, Dictionary, Tree, Graph.
2.  Explain the difference between mutable and immutable data types with examples.
  - Mutable → Can be changed after creation
  Example: list, set, dict.
  Immutable → Cannot be changed once created
  Example: string, tuple, int
  This affects performance and memory usage.
3. What are the main differences between lists and tuples in Python?
 - lists and tuples both store collections of data, but differ in mutability, performance and memory usage. Lists are mutable, allowing modifications, iteration over lists is time-consuming, lists are more prone to unexpected changes and errors, while tuples are immutable, iterations over tuple is faster, Tuples are more suitable for accessing elements efficiently, Tuples, being immutable are less error prone.
4. Describe how dictionaries store data.
 - Dictionaries store data in key value pairs using a hash table. Example: {"name": "Manan"} → key = name, value = Manan. Keys must be unique and help fast searching.
5. Why might you use a set instead of a list in Python?
 - Because sets Remove duplicates automatically and Provide faster membership checking.
6. What is a string in Python, and how is it different from a list?
 - String sequence of characters like "Hello", Strings are immutable and while lists are mutable and allow different data types.
7. How do tuples ensure data integrity?
 - Tuples cannot be modified after creation. So important data stays safe and unchanged, preventing accidental editing.
8. What is a hash table and how does it relate to dictionaries?
 - A hash table uses hash functions to map keys to values quickly. Python dictionaries are implemented using hash tables, making lookups fast.
9. Can lists contain different data types?
 - Yes
 Example: [10, "Apple", 12.5, True]. Lists are flexible and used for mixed data.
10. Why are strings immutable?
 - It makes programs faster and more secure. Prevents accidental changes to text shared between variables.
11. What advantages do dictionaries offer over lists for certain tasks?
 - Fast access using keys no need to scan entire data and Better structure for labeled information.
 Example: Student details → dictionary is better than list
12. Describe a scenario where using a tuple would be preferable over a list.
 - When data should not change:
 Example: Days of the week, Latitude & longitude, Roll numbers assigned once, Tuples guarantee data stability.
13. How do sets handle duplicate values in Python?
 - Sets remove duplicates automatically. Example: {1,1,2,3} becomes {1,2,3}
14.  How does the “in” keyword work differently for lists and dictionaries?
 - In a list → checks all elements. In a dictionary → checks only keys
 Example: "age" in {"age": 20} True
 20 in {"age": 20} False
15. Can you modify the elements of a tuple? Explain why or why not.
 - No. becouse Tuples are immutable; their elements can't be added, removed, or changed.
16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary that contains another dictionary as a value. It helps organize complex or grouped data, like student details or product info in a clean and structured way. Example:
 student = {
  "name": "Aman",
  "marks": {"math": 90, "science": 88}
  }
17.  Describe the time complexity of accessing elements in a dictionary?
 - O(1) — almost instant because it uses hashing. Python dictionaries provide a fast and efficient way to store and retrieve data using key value pair so understanding the time complexities of dictionary operations is very important for optimizing performance in our programs.
18. In what situations are lists preferred over dictionaries?
 - When you just need ordered data or don't need keys-like a list of names.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Keys are placed according to their hash values, not sequence. Retrieval is by key, so order doesn't affect how you get data. A dictionary is often referred to as an unordered collection of objects because the elements within a dictionary are not arranged in a specific order. In other words, the items in a dictionary do not have an inherent positional index like they do in a list or an array.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - Lists and Dictionaries in Python are inbuilt data structures that are used to store data. Lists are linear in nature whereas dictionaries stored the data in key-value pairs. In this article, we will see the difference between the two and find out the time complexities and space complexities which arises when we try to store data and try to perform certain operations on them.

In [ ]:
# Practical Questions
# 1. Write a code to create a string with your name and print it.
name = "Manan"
print(name)

Manan

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
a = "Hello world"
print(len(a))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
y = text[:3]
print(y)

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase
text = "hello"
upper = text.upper()
print(upper)

HELLO

In [ ]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1 = [1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1 = (100, 200, 300)
print(t1)
print(type(t1))

(100, 200, 300)
<class 'tuple'>

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t1 = ('red', 'green', 'blue', 'yellow')
a = t1[1:]
print(a)

('green', 'blue', 'yellow')

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t1 = (10, 20, 5, 15)
minimum = min(t1)
print(minimum)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index("cat")
print(index_of_cat)

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "Manan", "age": 18, "city": "Indore"}
print(person)

{'name': 'Manan', 'age': 18, 'city': 'Indore'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [1]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [2]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key exists")
else:
    print("Key does not exist")

Key exists

In [3]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ("apple", "banana", "cherry")
my_dict = {"name": "John", "age": 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 25}

In [12]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list1 = [60, 40, 80, 20, 100]
list1.sort()
print(list1)

[20, 40, 60, 80, 100]

In [14]:
# 28. Write a code to create a list with strings and print the element at the third index.
list1 = ["apple", "banana", "cherry", "Indore", "Mumbai"]
print(list1[2])

cherry

In [15]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "John", "age": 25}
dict2 = {"city": "New York", "country": "USA"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [16]:
# 30. Write a code to convert a list of strings into a set.
list1 = ["apple", "banana", "cherry", "apple"]  # list with duplicate
set1 = set(list1)
print(set1)

{'apple', 'banana', 'cherry'}